body {
    margin: 2px 5px;
}

#hasil {
    display: flex;
    align-items: center;
    height: 150px;
    max-height: 200px;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
}

.hijau {
    background-color: green;
    color: white;
}

.oranye {
    background-color: orange;
    color: white;
}

.kuning {
    background-color: yellow;
    color: black;
}

.merah {
    background-color: red;
    color: white;
}
